<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
<link rel="stylesheet" href="/css/buttons.css">

<style>
  .shortcuts {
    height: initial;
    line-height: initial;
  }

  .nav i {
    height: initial;
  }

  .tabs-body pre {
    margin-top: 0;
  }

  ul:not(.browser-default) {
    padding-left: 22.5px;
    padding-right: 22.5px;
  }

  ul:not(.browser-default),
  ul:not(.browser-default) > li {
    list-style-type: initial;
  }

  ul.menu,
  ul.menu ul {
    padding: 0;
  }
</style>
